#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin: 1rem auto;
  max-width: 768px;
  width: 95%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-title {
  font-size: 2rem;
}

.start-game-button {
  appearance: none;
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;

  border: 1px solid #FFFFFF;
  padding: 0.35rem 1rem;
}

.game-field {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.turns {
  font-size: 1.25rem;
}

@media (max-width: 425px) {
  .game-field {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (hover: hover) {
  .start-game-button:hover {
    background-color: #C10069;
  }
}

@media (hover: none) {
  .start-game-button {
    background-color: #C10069;
  }
}