.card {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
}

.card__front,
.card__back {
  background-color: #231931;
  border-radius: 0.25rem;
  border: 1px solid #FFFFFF;
}

.card__front {
  transition: all 0.2s ease-in-out;
  transform: rotateY(90deg);
  position: absolute;
}

.card__back {
  transition: transform 0.2s ease-in-out 0.2s,
    box-shadow 0.2s ease-in-out 0s;
}

.flipped .card__front {
  cursor: auto;
  transition-delay: 0.2s;
  transform: rotateY(0deg);
}

.flipped .card__back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@media (hover: hover) {
  .start-game-button:hover {
    background-color: #C10069;
  }

  .card__back:hover {
    box-shadow: 0 0 1rem #FFFFFF;
  }
}